<button (click)="addProducts($event)" >Add products</button>
<div *ngIf="addProd">
<p>PRODUCTS IN THE STORE</p>
<div *ngFor="let productAdmin of productAdminList; let i = index">
    <app-admin-item [productAdmin]="productAdmin"></app-admin-item>
  </div>
  <p>AVAILABLE PRODUCTS</p>
  <div *ngFor="let product of allProductList; let i = index">
    <app-admin-item-two [product]="product" (addProductEvent)="addNewProduct(i, product)"></app-admin-item-two>
  </div>
</div>
  <button (click)="viewTransactions($event)" >View Transactions</button>
  <div *ngIf="viewTrans">
    <section (keyup.enter)="getTransactionsByUser(userId)">
    <input type="text" placeholder="User ID" [(ngModel)]="userId" #userInput="ngModel">
  </section>
    <div *ngFor="let transaction of transactionList; let i = index">
      <app-admin-transactions [transaction]="transaction" ></app-admin-transactions>
    </div>
    </div>
