ul {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: blue;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  list-style: none;
}

li{
  margin: 0 3rem;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

.active {
  background-color: #CCC;
}