<p *ngIf="!full">Cart is empty!</p>
<div *ngFor="let product of imprimir; let i = index">
    <app-cart-item [product]="product" (deleteProductEvent)="deleteProduct(i)"></app-cart-item>
  </div>
<p *ngIf="full">Total price: {{totalPrice}} </p>
<button (click)="purchase()" *ngIf="full">Purchase</button>
  <!-- <ul>
    <li *ngFor="let item of cartSet">
     {{item.product.category}}
    </li>
   </ul> -->
<!-- <div>
   <p>
    Quantity {{cart.quantity}}
   </p>
   <p>
    {{cart.product.image}}
   </p>
   <p>
    {{cart.product.title}}
  </p>
  <p>
    {{cart.product.price}}
  </p>
</div> -->


